{% load static %}
<!-- templates/includes/navbar.html -->
<nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm py-1 sticky-top">
  <div class="container">
    <!-- Logo con imagen -->
    <a class="navbar-brand" href="/">
      <img src="{% static 'img/logo.png' %}" alt="Corpus" height="60">
    </a>

    <!-- Botón móvil -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCorpus" aria-controls="navbarCorpus" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces -->
    <div class="collapse navbar-collapse" id="navbarCorpus">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item mx-3">
          <a class="corpus-nav-link nav-link text-corpus" href="#que-es">Qué es Corpus</a>
        </li>
        <li class="nav-item mx-3">
          <a class="corpus-nav-link nav-link text-corpus" href="#funcionalidades">Funcionalidades</a>
        </li>
        <li class="nav-item mx-3">
          <a class="corpus-nav-link nav-link text-corpus" href="">Precios</a>
        </li>
        <li class="nav-item mx-3">
          <a class="corpus-nav-link nav-link text-corpus" href="">Ayuda</a>
        </li>
      </ul>

      <div class="d-flex">
        {% if request.user.is_authenticated %}
<!--        <a href="{% url 'corpus:escritorio' %}" class="btn btn-corpus me-2">Ir al escritorio</a>-->
<!--        <a href="{% url 'usuarios:logout' %}" class="btn btn-outline-corpus">Salir</a>-->
        {% else %}
        <a href="{% url 'usuarios:login' %}" class="btn btn-outline-corpus me-2">Iniciar sesión</a>
        <a href="{% url 'usuarios:registro' %}" class="btn btn-corpus">Pruébalo gratis</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
